{{ $it := .item }}

<div class="showcase-item">
  {{ with $it.Params.image }}
    <div class="showcase-image">
      <img src="{{ . | relURL }}" alt="{{ $it.Title }}">
    </div>
  {{ end }}
  <div class="showcase-content">
    <h3 class="showcase-title">
      <a href="{{ $it.RelPermalink }}" class="hover:underline">{{ $it.Title }}</a>
    </h3>
    {{ with $it.Params.subtitle }}
      <p class="showcase-subtitle">{{ . }}</p>
    {{ end }}
    {{ with $it.Summary }}
      <p class="showcase-desc">{{ . | plainify | truncate 160 }}</p>
    {{ end }}
  </div>
</div>
